<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.eurosportplayer">
		<category id="allgemein" label="30030" help="">
			<group id="1">
				<setting id="username2" type="string" label="30031" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30031</heading>
					</control>
				</setting>
				<setting id="password2" type="string" label="30032" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="username2"/>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30032</heading>
						<hidden>true</hidden>
					</control>
				</setting>
			</group>
		</category>
		<category id="view" label="30010" help="">
			<group id="1">
				<setting id="cookie" type="string" label="cookie" help="">
					<level>0</level>
					<default>AMCV_9AE0F0[...]sq=%5B%5BB%5D%5D</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">true</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>cookie</heading>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>
