<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30030">
		<setting id="username2" type="text" label="30031" default="" />
		<setting id="password2" type="text" option="hidden" label="30032" enable="!eq(-1,)" default="" />
	</category>
    <category label="30010">
        <setting label="cookie" type="text" id="cookie" default="" visible="false"/>
    </category>
</settings>